{% extends "index.html" %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Business Plan Details</h4>
                    <form class="forms-sample" action="/business_plan" method="post">
                        <div class="form-group">
                            <label for="exampleInputName1">Title</label>
                            <input type="text" class="form-control" placeholder="Title" name='title' required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Industry</label>
                            <input type="text" class="form-control" placeholder="Industry" name='industry' required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Funds Needed</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">$</span>
                                </div>
                                <input type="number" class="form-control"
                                    placeholder="000" name="funds_needed" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Content</label>
                            <textarea class="form-control" name='content' rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
